:root{
    --btn_bg: #9a1010;
    --btn_color: #fff;
    --a_href_color: #000;           
    --level_1_color: #222;          
    --product_price_color: #222;    
    --product_title_color: #30323A; 
    --footer_bg: #2c2c2c;     
    --header_bg: #fff;      
    --top_menu_bg: #fa5555;        
    --menu_bg: #fa5555;    
    --body_color: #222;     
    --body_bg: #fff;
    --top_menu_color: #fff;
    --h2_color: #30323A;
    --login_btn_bg: transparent;
    --login_btn_color: #000;
    --cart_number_bg: #9a1010;
    --categories_title_bg: #e63737;
    --categories_level_1_bg: #fff;
    --categories_level_2_bg: #fff;
    --level_2_color: #222;
    --inner_body_bg: #fff;
    --product_bg: #fff;
    --product_bottom_bg: #fff;
    --review_star_color: #9a1010;
    --paragraph_color: #fff;
    --h5_color: #fff;
    --input_bg_color: #fff;
    --breadcrumb_bg: #f9f9f9;
    --product_list_bg: #f9f9f9;
    --currency_bg: #fff;
    --currency_color: #000;
    --filters_bg: #fff;
    --pagination_bg: #fff;
    --pagination_bg_active: #fff;
    --pagination_color_active:  #337ab7;
    --article_product_price_color: #9a1010;
    --discount_price_color: #9a1010;
    --add_to_cart_btn_bg: #9a1010;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #8a0f0f;
    --sale_action_price_bg: #b50000;
    --sale_action_bg: #9a1010;
    --product_old_price_color: #fa5555;
    --label_color: #222;
    --scroll_top_bg: #fff;
    --global_color: #9a1010;
    } 
